{% extends 'base.html.twig' %}

{% block title %}Nos Bijoux{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Nos Bijoux</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Prix: {{ product.price }} €</strong></p>
                    <p class="card-text">Matériau: {{ product.material }}</p>
                    <p class="card-text">Stock: {{ product.stock }}</p>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Voir détails</a>
                    <a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-success ms-2">Ajouter au panier</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p class="text-center">Aucun produit trouvé.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
